pip>=9
setuptools>=26
wheel>=0.29
pandas
pytest
coverage
flake8
black
yapf
python-gitlab
twine
numpy
pandas
termcolor
scikit-learn
h5py
gcsfs==0.6.0
google-cloud-storage==1.26.0
streamlit
scikit-image
Pillow
wikipedia
google-oauth
